---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<style type="text/css">
#wrap {
   width:600px;
   margin:0 auto;
}
#left_col {
   float:left;
   width:300px;
}
#center_col {
   width:300px;
}
#right_col {
   float:right;
   width:300px;
}
</style>

{% include base_path %}


{% if site.author.googlescholar %}
<li><a href="https://indrusiak.github.io/files/IndrusiakCV.pdf">Full CV including complete list of publications</a>
<li><a href="{{site.author.googlescholar}}">Google Scholar profile</a></li>
{% endif %}
<li><a href="https://dblp.org/pid/i/LSIndrusiak.html">DBLP profile</a></li>
<li><a href="http://ieeexplore.ieee.org/search/searchresult.jsp?queryText=indrusiak&sortType=desc_p_Publication_Year&searchField=Search_All">Publications in IEEE Xplore</a></li>
<li><a href="https://dl.acm.org/profile/81100311661">Publications in ACM Digital Library</a></li>
<li><a href="http://www.scopus.com/authid/detail.url?authorId=58313547700">Publications in Scopus</a></li>
<li><a href="https://orcid.org/0000-0002-9938-2920">Publications in ORCID</a></li>

<br><br>


<a href="https://www.amazon.co.uk/Allocation-High-Performance-Computing-Publishers-Information/dp/8793519087"><img border=0 align=left src="/images/book3s.jpg">Dynamic Resource Allocation in Embedded, High-Performance and Cloud Computing</a><br><h4>River Publishers, 2016 (<a href="http://www.riverpublishers.com/research_details.php?book_id=413">free eBook</a>)</h4>
<br><br>

<a href="https://www.amazon.co.uk/Handbook-Research-Engineering-Performance-Computing-x/dp/1466661941/"><img border=0 align=left src="/images/book2s.jpg">Handbook of Research on Embedded Systems Design</a><br><h4>IGI Global, 2015</h4>
<br><br>

<a href="https://www.amazon.co.uk/VLSI-SOC-International-Integration-Information-Communication/dp/1441941266/"><img border=0 align=left src="/images/book1s.jpg">VLSI-SOC: From Systems to Chips</a><br><h4>Springer, 2004</h4>
<br><br>




