---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


{% include base_path %}

{% if site.author.googlescholar %}
* <a href="{{site.author.googlescholar}}">Google Scholar profile</a>
{% endif %}
* <a href="http://www.informatik.uni-trier.de/~ley/db/indices/a-tree/i/Indrusiak:Leandro_Soares.html">DBLP profile</a>
* <a href="http://ieeexplore.ieee.org/search/searchresult.jsp?queryText=indrusiak&sortType=desc_p_Publication_Year&searchField=Search_All">Publications in IEEE Xplore</a>
* <a href="https://dl.acm.org/profile/81100311661">Publications in ACM Digital Library</a>


		<table width=800 border="0" cellpadding="0" cellspacing="10" >
		<tr>
		<td align=center><img src="/images/book3.jpg"></td>
		<td align=center><img src="/images/book2.jpg"></td>
		<td align=center><img src="/images/book1.jpg"></td>
		</tr>
		<tr>
		<td align=center><a href="https://www.amazon.co.uk/Allocation-High-Performance-Computing-Publishers-Information/dp/8793519087">Dynamic Resource Allocation in Embedded, High-Performance and Cloud Computing</a><br><h4>River Publishers, 2016</h4> (<a href="http://www.riverpublishers.com/research_details.php?book_id=413">free eBook</a>)</td>
		<td align=center><a href="https://www.amazon.co.uk/Handbook-Research-Engineering-Performance-Computing-x/dp/1466661941/">Handbook of Research on Embedded Systems Design</a><br><h4>IGI Global, 2015</h4></td>
		<td align=center><a href="https://www.amazon.co.uk/VLSI-SOC-International-Integration-Information-Communication/dp/1441941266/">VLSI-SOC: From Systems to Chips</a><br><h4>Springer, 2004</h4></td>
		</tr>


