---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---


{% include base_path %}

{% if site.author.googlescholar %}
* <a href="{{site.author.googlescholar}}">Google Scholar profile</a>
{% endif %}
* [DBLP profile](http://www.informatik.uni-trier.de/~ley/db/indices/a-tree/i/Indrusiak:Leandro_Soares.html)
* [Publications in IEEE Xplore](http://ieeexplore.ieee.org/search/searchresult.jsp?queryText=indrusiak&sortType=desc_p_Publication_Year&searchField=Search_All)
* [Publications in ACM Digital Library](https://dl.acm.org/profile/81100311661)


